nav{
    display: flex;
    
    margin-left: 8.68vw;
    margin-top: 1.3vw;
    
}
.navbox{
    margin-left: 5.556vw;
    margin-right: 9.46vw;
    display: flex;
    gap:1.9vw;

}   
nav img{
    width: 7.73vw;
    height: 2vw;
}

nav p{
    margin: 0;
    margin-top: 0.434vw;
    font-size: 0.955vw;
    line-height: 1.12vw;
    font-weight: 500;
    letter-spacing: 6%;
}

.navbox p{
    color:#959BA4;

   
}
ul{
    padding:0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li{
    width: 5.54vw;
    height: 2.43vw;
    margin: auto;
    border:1px solid #E5E5E5;
    color:#C6C6C6;
    font-size:1.04vw;
    font-weight: 400;
    line-height: 1.22vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin-left:21.5vw;
    margin-top:4.86vw;
}
.main{
    margin-left:22vw;
    display: flex;
    gap:10.68vw;
}

.inputbox{
    width: 22.48vw;
    height: 8.854vw;
    border: 1px solid #E5E5E5;
}

input{
    padding: 0  ;
margin-left:1.22vw;
margin-top: 0.955vw;
   border: 0;
   font-size:3.125vw;
   height:3.66vw;

   width: calc(100% - 1.22vw);
   line-height: 3.66vw;
   font-weight: 700;
   /* font-family: Roboto; */
   margin-bottom: 1.74vw;
    
}
input:focus{
    outline: none;
}

.currencyreport{
    color:#C6C6C6;
    font-size:1.04vw;
    line-height: 1.22vw;
    margin: 0;
    margin-left: 1.39vw;
}

h1{
    margin-bottom: 2.87vw;
}

.identify{
    margin-top:0;

}